/*---------------------
  Product Shop
-----------------------*/

.product-shop {
	padding-top: 80px;
	padding-bottom: 80px;
}

.filter-widget {
	margin-bottom: 45px;
	.fw-title {
		color: $mainblack;
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 26px;
	}
	.filter-catagories {
		li {
			list-style: none;
			a {
				display: inline-block;
				color: $grey;
				font-size: 16px;
				line-height: 39px;
			}
		}
	}
	.fw-brand-check {
		.bc-item {
			margin-bottom: 3px;
			label {
				position: relative;
				cursor: pointer;
				padding-left: 28px;
				input {
					position: absolute;
					visibility: hidden;
					&:checked~span {
						background: $mainorange;
						border-color: $mainorange;
					}
				}
				.checkmark {
					position: absolute;
					left: 0;
					top: 5px;
					height: 15px;
					width: 15px;
					border: 2px solid #ebebeb;
					border-radius: 2px;
					&:after {
						left: 0;
						top: 0;
						width: 10px;
						height: 8px;
						border: solid white;
						border-width: 3px 3px 0px 0px;
						-webkit-transform: rotate(127deg);
						-ms-transform: rotate(127deg);
						transform: rotate(127deg);
					}
				}
			}
		}
	}
	.filter-range-wrap {
		margin-bottom: 40px;
		.range-slider {
			margin-bottom: 25px;
			.price-input {
				position: relative;
				&:after {
					position: absolute;
					left: 58px;
					top: 13px;
					height: 1px;
					width: 17px;
					background: #ebebeb;
					content: "";
				}
				input {
					font-size: 16px;
					color: $mainblack;
					max-width: 20%;
					text-align: center;
					border: 1px solid #ebebeb;
					border-radius: 2px;
					&:nth-child(1) {
						margin-right: 28px;
					}
				}
			}
		}
		.price-range {
			border-radius: 0;
			.ui-slider-range {
				background: #ebebeb;
				border-radius: 0;
			}
			.ui-slider-range.ui-corner-all.ui-widget-header {
				&:last-child {
					background: $mainorange;
				}
			}
		}
		.price-range.ui-widget-content {
			border: none;
			background: #ebebeb;
			height: 3px;
			.ui-slider-handle {
				height: 16px;
				width: 16px;
				border-radius: 50%;
				background: $white;
				border: none;
				-webkit-box-shadow: 1px 6px 14px -4px #425c6d;
				box-shadow: 1px 6px 14px -4px #425c6d;
				outline: none;
			}
		}
	}
	.filter-btn {
		font-size: 14px;
		color: $white;
		font-weight: 700;
		background: $mainorange;
		padding: 7px 20px 5px;
		border-radius: 2px;
		display: inline-block;
		text-transform: uppercase;
	}
	.fw-color-choose {
		.cs-item {
			width: 50%;
			float: left;
			margin-bottom: 4px;
			input {
				position: absolute;
				visibility: hidden;
			}
			label {
				cursor: pointer;
				position: relative;
				padding-left: 33px;
				font-size: 16px;
				color: $grey;
				&:before {
					position: absolute;
					left: 0;
					top: 4px;
					height: 18px;
					width: 18px;
					background: $mainblack;
					border-radius: 50%;
					content: "";
				}
			}
			label.cs-violet {
				&:before {
					background: #8230E3;
				}
			}
			label.cs-blue {
				&:before {
					background: #2773BE;
				}
			}
			label.cs-yellow {
				&:before {
					background: #EEEE21;
				}
			}
			label.cs-red {
				&:before {
					background: #DC3232;
				}
			}
			label.cs-green {
				&:before {
					background: #81D742;
				}
			}
		}
	}
	.fw-size-choose {
		.sc-item {
			display: inline-block;
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
			input {
				position: absolute;
				visibility: hidden;
			}
			label {
				font-size: 16px;
				color: $mainblack;
				font-weight: 700;
				height: 40px;
				width: 47px;
				border: 1px solid #ebebeb;
				text-align: center;
				line-height: 40px;
				text-transform: uppercase;
				cursor: pointer;
			}
			label.active {
				background: $mainblack;
				color: $white;
			}
		}
	}
	.fw-tags {
		a {
			display: inline-block;
			font-size: 16px;
			color: $grey;
			padding: 5px 15px;
			border: 1px solid #ebebeb;
			margin-right: 5px;
			margin-bottom: 9px;
			border-radius: 2px;
		}
	}
}

.checkmark:after {
	position: absolute;
	content: "";
}

.product-show-option {
	margin-bottom: 30px;
	.select-option {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		.nice-select {
			border-radius: 0;
			border: 1px solid #ECEDEE;
			height: 40px;
			line-height: 35px;
			.list {
				margin-top: 0;
				border-radius: 0;
				width: 100%;
			}
			&:after {
				border-bottom: 2px solid #4c4c4c;
				border-right: 2px solid #4c4c4c;
				height: 7px;
				right: 22px;
				top: 47%;
				width: 7px;
				opacity: 0.7;
			}
			span {
				font-size: 16px;
				color: #4c4c4c;
			}
		}
		.sorting {
			margin-right: 20px;
		}
		.sorting.nice-select {
			padding-right: 70px;
		}
		.p-show.nice-select {
			padding-right: 105px;
			&:before {
				position: absolute;
				right: 48px;
				top: 0;
				content: "09";
				font-size: 16px;
				color: $mainblack;
			}
		}
	}
	p {
		margin-bottom: 0;
		color: $grey;
		line-height: 39px;
	}
}

.prduct-list .product-item {
	margin-bottom: 25px;
}

/*---------------------
  Product Details
-----------------------*/

.product-shop.page-details {
	padding-bottom: 60px;
}

.product-pic-zoom {
	margin-bottom: 10px;
	position: relative;
	z-index: 1;
}

.product-pic-zoom img {
	min-width: 100%;
}

.product-pic-zoom .zoom-icon {
	position: absolute;
	right: 20px;
	top: 20px;
}

.product-pic-zoom .zoom-icon i {
	color: #4c4c4c;
	font-size: 14px;
	width: 40px;
	height: 40px;
	border: 1px solid #d7d7d7;
	text-align: center;
	border-radius: 50%;
	line-height: 37px;
}

.product-thumbs .pt {
	cursor: pointer;
	position: relative;
}

.product-thumbs .pt.active:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border: 1px solid $mainorange;
	z-index: 1;
}

.ps-slider .owl-nav button[type=button] {
	height: 30px;
	width: 30px;
	background: $white;
	color: #a7a7a7;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	font-size: 20px;
	-webkit-box-shadow: 0px 6px 10px -1px #e9e9e9;
	box-shadow: 0px 6px 10px -1px #e9e9e9;
	position: absolute;
	left: -16px;
	top: 50%;
	-webkit-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.ps-slider .owl-nav button[type=button].owl-next {
	left: auto;
	right: -16px;
}

.product-details {
	.pd-title {
		position: relative;
		margin-bottom: 6px;
		span {
			display: block;
			font-size: 12px;
			color: $lightgrey;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 700;
			line-height: 23px;
		}
		h3 {
			color: $mainblack;
			font-weight: 700;
		}
		.heart-icon {
			color: $mainblack;
			font-size: 18px;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.pd-rating {
		margin-bottom: 10px;
		i {
			font-size: 12px;
			display: inline-block;
			color: #FAC451;
			margin-right: -3px;
		}
		span {
			font-size: 12px;
			color: #999591;
		}
	}
	.pd-desc {
		margin-bottom: 24px;
		p {
			color: $grey;
		}
		h4 {
			color: $mainorange;
			font-weight: 700;
			span {
				font-size: 18px;
				font-weight: 400;
				color: #b7b7b7;
				text-decoration: line-through;
				display: inline-block;
				margin-left: 13px;
			}
		}
	}
	.pd-color {
		margin-bottom: 25px;
		h6 {
			color: $mainblack;
			font-weight: 700;
			float: left;
			margin-right: 28px;
		}
		.pd-color-choose {
			display: inline-block;
			.cc-item {
				display: inline-block;
				margin-right: 10px;
				input {
					position: absolute;
					visibility: hidden;
				}
				label {
					height: 20px;
					width: 20px;
					background: $mainblack;
					border-radius: 50%;
					cursor: pointer;
					margin-bottom: 0;
				}
				label.cc-yellow {
					background: #EEEE21;
				}
				label.cc-violet {
					background: #8230E3;
				}
			}
		}
	}
	.pd-size-choose {
		margin-bottom: 30px;
		.sc-item {
			display: inline-block;
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
			input {
				position: absolute;
				visibility: hidden;
			}
			label {
				font-size: 16px;
				color: $mainblack;
				font-weight: 700;
				height: 40px;
				width: 47px;
				border: 1px solid #ebebeb;
				text-align: center;
				line-height: 40px;
				text-transform: uppercase;
				cursor: pointer;
			}
			label.active {
				background: $mainblack;
				color: $white;
			}
		}
	}
	.quantity {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 33px;
		.pro-qty {
			width: 123px;
			height: 46px;
			border: 2px solid #ebebeb;
			padding: 0 15px;
			float: left;
			margin-right: 14px;
			.qtybtn {
				font-size: 24px;
				color: $lightgrey;
				float: left;
				line-height: 38px;
				cursor: pointer;
				width: 18px;
			}
			.qtybtn.dec {
				font-size: 30px;
			}
			input {
				text-align: center;
				width: 52px;
				font-size: 14px;
				font-weight: 700;
				border: none;
				color: #4c4c4c;
				line-height: 40px;
				float: left;
			}
		}
		.primary-btn.pd-cart {
			padding: 14px 70px 10px;
		}
	}
	.pd-tags {
		margin-bottom: 27px;
		li {
			list-style: none;
			font-size: 16px;
			color: $grey;
			line-height: 30px;
			span {
				color: $mainblack;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}
	.pd-share {
		overflow: hidden;
		.p-code {
			font-size: 16px;
			color: $mainblack;
			float: left;
		}
		.pd-social {
			float: right;
			a {
				display: inline-block;
				color: $mainblack;
				font-size: 14px;
				margin-left: 15px;
			}
		}
	}
}

.product-tab {
	padding-top: 60px;
}

.tab-item {
	ul {
		li {
			&:nth-child(1) {
				a {
					border-right: 1px solid #ebebeb;
				}
			}
			&:nth-child(2) {
				a {
					border-right: 1px solid #ebebeb;
				}
			}
			&:nth-child(3) {
				a {
					border-right: 1px solid #ebebeb;
				}
			}
			a {
				display: inline-block;
				font-size: 16px;
				font-weight: 700;
				color: $lightgrey;
				text-transform: uppercase;
				padding: 18px 61px;
				position: relative;
				border-top: 1px solid #ebebeb;
				border-left: 1px solid #ebebeb;
				border-bottom: 1px solid #ebebeb;
				&::before {
					position: absolute;
					left: 0;
					top: -1px;
					width: 100%;
					height: 5px;
					background: $mainorange;
					content: "";
					opacity: 0;
				}
			}
			a.active {
				color: $mainblack;
				&:before {
					opacity: 1;
				}
			}
		}
	}
}

.product-content {
	padding-top: 40px;
	h5 {
		color: $mainblack;
		font-weight: 700;
		margin-bottom: 23px;
	}
	p {
		margin-bottom: 34px;
	}
	img {
		min-width: 100%;
	}
}

.specification-table {
	padding-top: 52px;
	table {
		width: 100%;
		tr {
			td {
				border: 1px solid #EFF0F2;
				text-align: center;
				padding-top: 18px;
				padding-bottom: 18px;
				.pd-rating {
					i {
						font-size: 12px;
						display: inline-block;
						color: #FAC451;
						margin-right: -3px;
					}
					span {
						font-size: 12px;
						color: #999591;
					}
				}
				.p-price {
					color: $mainorange;
					font-size: 16px;
					font-weight: 700;
				}
				.cart-add {
					font-size: 16px;
					color: $mainblack;
					font-weight: 700;
					text-transform: uppercase;
				}
				.p-stock {
					font-size: 16px;
					color: #4c4c4c;
					font-weight: 700;
				}
				.p-size {
					font-size: 16px;
					color: #4c4c4c;
					font-weight: 700;
					text-transform: uppercase;
				}
				.p-code {
					font-size: 16px;
					color: #4c4c4c;
					font-weight: 700;
				}
				.p-weight {
					font-size: 14px;
					color: #4c4c4c;
					font-weight: 700;
				}
				.cs-color {
					display: inline-block;
					height: 20px;
					width: 20px;
					background: $mainblack;
					border-radius: 50%;
				}
			}
			td.p-catagory {
				width: 310px;
				text-align: left;
				padding-left: 34px;
				font-size: 16px;
				color: #4c4c4c;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}
}


.customer-review-option {
	padding-top: 55px;
	h4 {
		color: #292f3b;
		font-weight: 700;
		margin-bottom: 35px;
	}
	.comment-option {
		.co-item {
			margin-bottom: 20px;
			.avatar-pic {
				float: left;
				margin-right: 20px;
				img {
					height: 63px;
					width: 63px;
					border-radius: 50%;
				}
			}
			.avatar-text {
				display: table;
				.at-rating {
					line-height: 9px;
					i {
						font-size: 12px;
						display: inline-block;
						color: #FAC451;
						margin-right: -3px;
					}
				}
				h5 {
					color: $mainblack;
					font-weight: 700;
					margin-top: 10px;
					margin-bottom: 10px;
					span {
						color: $lightgrey;
						font-size: 12px;
						font-weight: 400;
						text-transform: uppercase;
						letter-spacing: 2px;
						margin-left: 22px;
						position: relative;
						&:before {
							position: absolute;
							left: -18px;
							top: -5px;
							content: "-";
							font-size: 18px;
							color: $lightgrey;
						}
					}
				}
				.at-reply {
					font-size: 14px;
					color: $grey;
				}
			}
		}
	}
	.personal-rating {
		margin-bottom: 50px;
		padding-top: 10px;
		h6 {
			color: $mainblack;
		}
		.rating {
			i {
				font-size: 12px;
				display: inline-block;
				color: #FAC451;
				margin-right: -3px;
			}
		}
	}
	.leave-comment {
		h4 {
			color: #292f3b;
			font-weight: 700;
			margin-bottom: 35px;
		}
		.comment-form {
			input {
				width: 100%;
				font-size: 16px;
				color: $grey;
				height: 50px;
				border: 1px solid #ebebeb;
				border-radius: 5px;
				padding-left: 20px;
				margin-bottom: 30px;
			}
			textarea {
				width: 100%;
				resize: none;
				font-size: 16px;
				color: $grey;
				height: 116px;
				border: 1px solid #ebebeb;
				border-radius: 5px;
				padding-left: 20px;
				padding-top: 10px;
				margin-bottom: 45px;
			}
		}
	}
}